<div class="product-form <% unless @product.id.nil? %> product-form-hidden <%end%>">
  <%= form_for @product do |f| %>
    <div class="row">
      <div class= "col s12 m6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class= "col s12 m6">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m3">
        <%= f.submit class: "btn" %>
      </div>
      <% unless @product.id.nil? %>
        <div class="col s6 m3">
          <%= link_to "Delete", product_path(@product), class: "btn", method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
