<h1><%= @product.name %></h1>
<%= image_tag @product.image.url %>
<p>$<%= @product.price %></p>
<p><%= @product.description %></p>

<%= link_to 'Add To Cart', add_to_cart_path(current_user.cart, @product), method: :post, class: 'btn'%>

<% if current_user.admin %>
  <button class="btn form-btn">Edit Product</button>
  <%= render(partial: 'form') %>
<% end %>
